/* Move down content because we have a fixed navbar that is 50px tall */
@media all and (max-width: 767px) {
body {
  padding-top: 18px;
  padding-bottom: 20px;
} 
}

img.rf-logo {
	margin-top: -12px;
}